{% extends 'base.html' %}

{% block title %} Receipts {% endblock title%}

{% block content %}
<header></header>
<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Number of receipts</th>
        </thead>

        <tbody>
            {% for category in categories%}
            <tr>
                <td>{{category.name}}</td>
                <td>{{category.receipts.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock content%}
