{% extends 'base.html' %}

{% block title %}
SignUp
{% endblock title%}

{% block content %}
<main>
    <div>
        <h1>SignUp</h1>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button>SignUp</button>
        </form>
    </div>
</main>
{% endblock content %}
