{% extends 'base.html' %}

{% block title %} Receipts {% endblock title%}

{% block content %}
<header>
</header>
<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </thead>

        <tbody>
            {% for items in receipt %}
            <tr>
                <td>{{items.vendor}}</td>
                <td>{{items.total}}</td>
                <td>{{items.tax}}</td>
                <td>{{items.date|date:"n/j/y"}}</td>
                <td>{{items.category}}</td>
                <td>{{items.account}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock content%}
